{%- from 'pascal_case_macros.j2' import to_pascal_case -%}
{% macro define_enum(attribute) %}
public enum {{ to_pascal_case(attribute.name) }}
{
            {%- for member in attribute.type.members %}
                {%- if member.brief %}
    /// <summary>
    /// {{member.brief}}
    /// </summary>        
                {%- endif %} 
    {{ member.value }},
            {%- endfor %}
}
{% endmacro %}